.MonthCalendar {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    /* height: auto; */
}


.DayTile {
    height: 30px;
    /* width: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: #f87171;
    border-radius: 50%;
    display: flex;
    margin-left: 1px;
  }