.Main {
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.ContentBox {
  overflow: auto;
  width: 400px;
  height: 600px;
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.CalenderBox {
  overflow: auto;
  width: 450px;
  height: 600px;
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.Todo {
  height: 100px;
}

.TodoDate {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TodoDate > Button:hover {
  background-color: #49a078;
}

.addBtn {
  width: 100px;
  height: 30px;
}

.TodoDate > p {
  font-weight: 900;
}
