.body {
  height: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #addbb2;
  border-radius: 15px;
}

.ContentBox {
  overflow: auto;
  width:350px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap:10px;
  padding: 10px;
}

.toggles_times{
  display: flex;
  flex-direction: row;
  gap:10px
}

.toggles {
  margin-top: 15px;
}

.toggles > span{
  font-size: 18px;
}

.ExpectTime {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap:5px
}
.ExpectTime > p {
  font-size: 20px;
}

.TimeSetter {
  display: flex;
  flex-direction: row;
}


.SelectClassify {
  font-size: 200px;
}

.toggles{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toggle_switch { display: inline-block; position: relative; width: 170px; height: 40px; font-size: 18px;} 
.toggle_switch input[type="checkbox"] { overflow: hidden; position: absolute; width: 1px; height: 1px; margin: -1px; font-size: initial; clip: rect(0 0 0 0);} 
.toggle_switch .slider { position: absolute; top: 0; right: 0; bottom: 0; left: 0; 
  background-color: #fff; border-radius: 34px; cursor: pointer; transition: 0.4s; box-shadow: inset 0px 0px 10px #abaaaa;
  padding-inline-start: 40px; align-items: center; display: flex; color:#252525; font-weight: 500;} 
.toggle_switch input[type="checkbox"]:checked + .slider { background-color: #49A078; color:#fff; box-shadow: inset 0px 0px 10px #248e5d; 
  padding-inline-start: 15px; align-items: center; display: flex; font-weight: 500;} 
.toggle_switch .slider::before { content: ""; position: absolute; top: 5px; left: 5px; width: 30px; height: 30px; 
  background-color: #fff; border-radius: 50%; transition: 0.4s; box-shadow: -1px 1px 5px #4b7d65;}  
.toggle_switch input[type="checkbox"]:checked + .slider::before { transform:translateX(130px); } 
