.body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContentBox {
  overflow: auto;
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.ContentBox > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ContentBox > p {
  font-size: 18px;
  font-weight: 900;
  line-height: 60px;
}

.NewTaskInputs {
  height: fit-content;
  display: flex;
  justify-content: left;
  margin-bottom: 15px;
}

.NewTaskInputs > p {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
  width: 130px;
}

.NewTaskInputs > select {
  width: 100%;
  height: 42px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
  border: 0.5px solid rgba(31, 36, 33, 0.5);
  background: #f3f3f3;
  text-align: center;
}

.SelectClassify {
  font-size: 200px;
}

.DatePicker {
  text-align: left;
  padding-inline-start: 20px;
  width: 100%;
  height: 42px;
  font-size: 15px;
  font-weight: 600;
  line-height: 12px;
  border-radius: 20px;
  border: 0.5px solid rgba(31, 36, 33, 0.5);
  background: #f3f3f3;
}

.PlusBox {
  width: 100%;
  height: 40px;
}

.ReOrCan > :nth-child(2) {
  border: 2px solid #49a078;
}
